.container-fluid {
  display: flex;
  gap: 30px;
}
.scrip_header {
  background: #e11d48;
}
.scrip__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.scrip__title-scrip {
  display: flex;
  align-items: center;
  gap: 10px;
}
.scrip__title-scrip h1 {
  font-size: 27px;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}
.scrip__title_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.scrip__title_right h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}
.ant-col-16 {
  max-width: unset;
}
.paragraph__list {
  width: 400px;
}
.paragraph__list__span {
  border: 1px solid #edecec;
  width: 100%;
}
.paragraph__title {
  margin-bottom: 35px;
}
.paragraph__title h2 {
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600;
  margin-block-start: unset;
  margin-top: 15px;
}
.topic {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  margin-block-end: 10px;
  font-weight: 400;
}
.keywords {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  margin-block-end: 10px;
  font-weight: 400;
}
.keywords span {
  font-size: 12px;
  font-family: "Noto Sans JP", sans-serif;
  margin-block-end: 10px;
  font-weight: 400;
}
.select__option {
  display: flex;
  gap: 20px;
  align-items: center;
}
.ant-select-selector {
  padding: unset;
  padding-left: 10px !important;
  padding-right: 50px !important;
}
.center__tab {
  width: 1050px;
  height: 700px;
  padding: 20px;
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid #edeef1;
  overflow: auto;
  border-radius: 15px;
}

.center__title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.center__title p {
  margin-bottom: unset;
}
.entry {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #000; 
  padding-right: 8px; 
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
      border-color: transparent;
  }
  50% {
      border-color: #000;
  }
}
